<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">
  <title>Usuários</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
  <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="/" class="navbar-brand d-flex align-items-center">
          <strong>Usuários</strong>
        </a>
        <ul class="list-unstyled">
          <li><a href="/sair" class="text-white">Sair</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div class="container" style="margin-top: 40px;">
    <h1>Lista de usuários</h1>

    <% if(sucesso != ""){ %>
      <div class="alert alert-success" role="alert">
        <%= sucesso %>
      </div>
    <% } %>

    <table class="table">
      <thead>
        <tr>
          <td>Nome</td>
          <td>Email</td>
          <td>Descrição</td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% for (let i=0; i<usuarios.length; i++) { %>
          <tr>
            <td>
              <%= usuarios[i].nome %>
            </td>
            <td>
              <%= usuarios[i].email %>
            </td>
            <td>
              <!-- %- usuarios[i].descricao % -->
              <%= usuarios[i].descricao %>
            </td>
            <td style="width: 100px;">
              <a href="/usuarios/<%= usuarios[i].id %>/editar" class="btn btn-primary">Editar</a>
            </td>
            <td style="width: 100px;">
              <a href="/usuarios/<%= usuarios[i].id %>/excluir" class="btn btn-danger">Excluir</a>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>
</body>

</html>